body {
    background: padding-box linear-gradient(0.25turn, #342F30, #5C5759, #342F30);
    height: 200vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

    header {
        width: 75%;
        margin: 0 auto 6vw auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    h1 {
        letter-spacing: .2vw;
        font-size: 4vw;
        background: url(./public/neon_clouds.jpg) no-repeat;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        grid-column-start: 6;
        text-align: left;
        margin: 7vw auto 6vw auto;
        filter: drop-shadow(0 0 16px rgb(116, 45, 145));
    }

    ul {
        padding: 0;
        grid-column-start: 1;
        grid-row-start: 2;
        list-style: none;
        margin: 11vw 0 5vw 0;
    }

    li {
        margin: 2vw 0;
    }

    li a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.3vw;
        letter-spacing: .25vw;
        color: white;
    }

/* Section */

    .section {
        width: 75%;
        margin: 0 auto;
        position: relative;
    }
    .label {
        position: absolute;
        top: 1.7vw;
        left: -3vw;
        font-size: .75vw;
        letter-spacing: .15vw;
        color: #979797;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        margin: 0 auto;
    }

/* Portfolio */
    .portfolioImage {
        display: block;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
