body {
    background: padding-box linear-gradient(0.25turn, #342F30, #5C5759, #342F30);
    height: 200vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

/* Header */

    header {
        width: 75%;
        margin: 0 auto 6vw auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    h1 {
        letter-spacing: .2vw;
        font-size: 4vw;
        background: url(./public/neon_clouds.jpg) no-repeat;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        grid-column-start: 6;
        text-align: left;
        margin: 7vw auto 6vw auto;
        filter: drop-shadow(0 0 16px rgb(116, 45, 145));
    }

    header ul {
        padding: 0;
        grid-column-start: 1;
        grid-row-start: 2;
        list-style: none;
        margin: 10vw 0 5vw 0;
        
    }

    header ul li {
        margin: 3vw 0;
    }

    header ul li a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.3vw;
        letter-spacing: .25vw;
        color: white;
    }

/* Section */

    .section {
        width: 75%;
        margin: 4vw auto;
        position: relative;
    }
    .label {
        position: absolute;
        top: 1.7vw;
        left: -3vw;
        font-size: .75vw;
        letter-spacing: .15vw;
        color: #979797;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        margin: 0 auto;
    }

/* Spacer */

    .Spacer {
        width: 100%;
        background-color: #7B7E7D;
        height: .1vw;
    }

/* About */

    .About {
        text-align: center;
        width: 70%;
        display: block;
        margin: 0 auto;
        color: #eee;
        font-size: 1vw;
        letter-spacing: .1vw;
        font-weight: 300 ;
        font-family: 'IBM Plex Sans', sans-serif;
    }

/* Portfolio */

    .portfolioImage {
        display: block;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

/* Github calander */
    .react-calendar-heatmap {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .react-calendar-heatmap text {
        font-size: .4vw;
        fill: #979797;;
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    
    .react-calendar-heatmap .react-calendar-heatmap-small-text {
        font-size: 2vw;
    }
    
    .react-calendar-heatmap rect:hover {
        stroke: #555;
        stroke-width: 1px;
    }
  
    .react-calendar-heatmap .color-empty {
        fill: #eeeeee;
    }
    .react-calendar-heatmap .color-filled {
        fill: #8cc665;
    }
    .react-calendar-heatmap .color-github-0 {
        fill: #eeeeee;
    }
    .react-calendar-heatmap .color-github-1 {
        fill: #d6e685;
    }
    .react-calendar-heatmap .color-github-2 {
        fill: #8cc665;
    }
    .react-calendar-heatmap .color-github-3 {
        fill: #44a340;
    }
    .react-calendar-heatmap .color-github-4 {
        fill: #1e6823;
    }
/* Contact */

    .contactContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;
        margin: 0 auto;
        width: 75%; 
        list-style: none;
    }
    .contactItem {
        border: solid beige .1px;
        padding: 0 2vw 0 .5vw;
        border-radius: 5%;
    }
    .contactItem a {
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        text-decoration: none;
        letter-spacing: .15vw;
    }
    .contactItem a p {
        font-size: .8vw;
    }

/* Media querys */
@media (max-width: 699px) {
    h1 {
        font-size: 8vw;
        text-align: center;
        margin: 5vw auto;
    }
    header {
        margin: 0 auto 6vw auto;
        padding: 0;
        display: block;
        width: 85%;
    }
    header ul {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;
        text-align: center;

    }
    header ul li a {
        font-size: 2.5vw;
        padding: 4vw;
        text-align: center;
    }
    .About {
        font-size: 2.5vw;
    }
    .label {
        display: none;
    }
    .section {
        width: 100%;
    }
    .react-calendar-heatmap text  {
        font-size: 2vw;
    }
    .contactContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7vw; 
        padding: 0;
    }
    .contactItem {
        border: solid beige .1px;
        padding: 0 1vw 0 .5vw;
        border-radius: 5%;
    }
    .contactItem a {
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        text-decoration: none;
        letter-spacing: .15vw;
    }
    .contactItem a p {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .contactItem a h3 {
        font-size: 3.5vw;
        padding: 0 1vw;
    }
}
